@using BYX.Utilities;
<!DOCTYPE html>
<html>
<body>
    <div class="container" id="content-container">
        <div id="header">
            <div class="row">
                <div class="col-lg-12 col-xs-12" id="banner">
                    <img src="@Url.Content("~/Content/images/Crest.jpg")" class="crest">
                    <h1 id="page-header">Auburn Byx</h1>
                </div>
            </div>
            <div class="row nav-row">
                <div class="col-lg-12 col-xs-12">
                    <nav>
                        <ul class="nav nav-pills">
                            <li role="presentation">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li role="presentation">@Html.ActionLink("Resources", "Resources", "Home")</li>
                            @if (BYXAuth.IsAdmin())
                            {
                                <li role="presentation">@Html.ActionLink("Admin Tools", "Index", "Admin")</li>
                            }
                            else if (BYXAuth.IsMemberOf("Cell Group Coordinator"))
                            {
                                <li role="presentation">@Html.ActionLink("Cell Group Attendance", "Index", "Event")</li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container" id="body-content">
            @RenderBody()
        </div>
        <div id="footer">
            <hr />
            @if (BYXAuth.IsLoggedIn())
            {
                <span>@Html.ActionLink("Logout", "Logout", "Admin")</span>
            }
            else
            {
                <span>@Html.ActionLink("Login", "Login", "Admin")</span>
            }
        </div>
    </div>
</body>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    @* CKEditor for ConMan *@
    <script src="//cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
    <script type="text/javascript">
        $(function () {
            var numNavItems = $('.nav li').length;
            $('.nav li').each(function () {
                $(this).css('width', 100 / numNavItems + "%");
            });
        });
    </script>
    @RenderSection("head", required: false)
</head>
</html>