@model BYX.Models.EventReportViewModel

@{
    ViewBag.Title = "Auburn BYX";
}

<h2>@Model.Event.Event_Name on @Model.Event.Event_StartDateTime.ToLocalTime().ToString("MMM dd, yyyy a't' h:mm tt")</h2>
<h4>Total Absences: @Model.eventReports.Count(f => f.Attended == "Absent") out of @Model.eventReports.Count()</h4>
<h4>Total Late: @Model.eventReports.Count(f => f.Attended == "Late") out of @Model.eventReports.Count()</h4>
<h4>Total Excused: @Model.eventReports.Count(f => f.Attended == "Excused") out of @Model.eventReports.Count()</h4>
<table class="table">
    <tr>
        <th>
            Member Name
        </th>
        <th>
            Attendance
        </th>
        <th>Time Swiped</th>
        <th></th>
    </tr>

    @foreach (var report in Model.eventReports)
    {
        <tr id="row-@report.Member_ID" class="@report.Attended.ToLower()">

            <td id="name-@report.Member_ID">
                @Html.ActionLink(report.Name, "Details", "Member", new { id = report.Member_ID }, null)
            </td>
            <td id="attendance-@report.Member_ID">
                @report.Attended
            </td>
            <td>
                @((report.SwipeTime.HasValue) ? report.SwipeTime.Value.ToLocalTime().ToString("h:mm tt") : "")
            </td>
            <td>
                <button type="button" class="btn btn-default btn-edit" data-id="@report.Member_ID">Edit</button>
            </td>
        </tr>
    }
</table>

@section head {
    <style type="text/css">
        .absent {
            background-color: #F27F7F;
            color: #FFF;
        }

            .absent a {
                color: #FFF;
            }

            .absent .btn-default {
                color: #333;
            }

        .excused {
            background-color: #FFD0AC;
        }

        .late {
            background-color: #F2F267;
        }
    </style>
    <link href="@Url.Content("~/Content/css/bootstrap-dialog.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/js/bootstrap-dialog.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('.btn-edit').click(function () {
                var id = $(this).attr('data-id').trim();
                var name = $('#name-' + id).text().trim();
                console.log(name);
                BootstrapDialog.show({
                    title: name,
                    message: "<h4>Currently: " + $('#attendance-' + id).text().trim() + "</h4>",
                    type: BootstrapDialog.TYPE_PRIMARY,
                    buttons: [{
                        label: "Attended",
                        cssClass: 'btn btn-success',
                        action: function (dialogItself) {
                            $.ajax(changeAttendance(id, 'Attended')).complete(function(){
                                dialogItself.close();
                            });
                        }
                    }, {
                        label: "Late",
                        cssClass: 'btn btn-warning',
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    }, {
                        label: "Absent",
                        cssClass: 'btn btn-danger',
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    }, {
                        label: "Excused",
                        cssClass: 'btn btn-default',
                        action: function (dialogItself) {
                            $.ajax(changeAttendance(id, 'Excused')).complete(function () {
                                dialogItself.close();
                            });
                        }
                    }]
                });
            });

            function changeAttendance(memberID, attendanceType) {
                return {
                    type: "POST",
                    url: "@Url.Content("~/Attendance/ChangeAttendance")",
                    data: {
                        eventID: parseInt('@Model.Event.Event_ID'),
                        memberID: memberID,
                        attendanceType: attendanceType
                    },
                    dataType: "json",
                    success: function (object, textStatus, jqXHR) {
                        if (object.success) {
                            document.getElementById('row-' + memberID).className = attendanceType.toLowerCase();
                            $('#attendance-' + memberID).text(attendanceType);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    }
                }
            }
        });
    </script>
}
