@model BYX.Models.Member

@{
    ViewBag.Title = "Details";
}
    <h2 class="member-name">@Model.Member_FirstName @Model.Member_LastName</h2>
    <h4 class="help-block" style="display:inline-block;">(@Model.MemberType.MemberType_Name)</h4>
    <div class="row">
        <div class="col-md-2 col-xs-8 attr-block">
            <p class="header">Email Address</p>
            <p><a href="mailto:@Model.Member_EmailAddress"> @Model.Member_EmailAddress</a></p>
        </div>
        <div class="col-md-2 col-xs-8 attr-block">
            <p class="header">Banner ID</p>
            <p>@Model.Member_BannerID</p>
        </div>
        <div class="col-md-2 col-xs-8 attr-block">
            <p class="header">Ignited Number</p>
            <p>@Model.Member_IgnitedNum</p>
        </div>
    </div>
<h3 style="display:inline-block;">Attendance Record</h3>
<h4 class="help-block" style="display:inline-block;">(Total Absences: @ViewBag.TotalAbsences)</h4>
@foreach (var attendance in ViewBag.attendance)
{
    <p>@attendance.Event_Name: @((attendance.Attended) ? "Attended" : "Absent")</p>
}
@section head {
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/Details.css")" />
}