@model IEnumerable<BYX.Models.BYXEvent>
@using BYX.Utilities;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (BYXAuth.IsAdmin())
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event_StartDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventType.EventType_Name)
        </th>
        @if (BYXAuth.IsAdmin())
        {
        <th></th> }
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row-@item.Event_ID">
            <td id="name-@item.Event_ID">
                @Html.ActionLink(item.Event_Name, "EventReport", "Attendance", new { id = item.Event_ID }, null)
            </td>
            <td>
                @item.Event_StartDateTime.ToLocalTime().ToString("MMM dd yyyy a't' h:mm tt")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventType.EventType_Name)
            </td>
            @if (BYXAuth.IsAdmin())
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Event_ID }) |
                    <a class="btn-delete" id="@item.Event_ID" href="#">Delete</a>
                </td>
            }
        </tr>
    }

</table>
@section head {
    <link href="@Url.Content("~/Content/css/bootstrap-dialog.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/js/bootstrap-dialog.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('.btn-delete').click(function () {
                var id = $(this).attr('id');
                BootstrapDialog.show({
                    title: "Confirm Delete",
                    message: "Are you sure you want to delete " + $('#name-' + id).text().trim() + "?",
                    type: BootstrapDialog.TYPE_DANGER,
                    buttons: [{
                        label: "Delete",
                        action: function (dialogItself) {
                            $.ajax({
                                type: "POST",
                                url: "@Url.Content("~/Event/DeleteConfirmed")",
                                data: { id: id },
                                dataType: "json",
                                success: function (object, textStatus, jqXHR) {
                                    $('#row-' + id).remove();
                                    dialogItself.close();
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    console.log(jqXHR);
                                }
                            });
                        }
                    }, {
                        label: "Cancel",
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    }]
                });
            });
        });
    </script>
}